<!DOCTYPE html>
<form method="POST" action="/registered">
	<table align="Center"> 
		<tr>
			<td>
				Email Id:
			</td>
			<td>
				<input type="Text" name="Email">
			</td>
		</tr>

		<tr>
			<td>

				No Of Screens:

			</td>
			<td width>

				<input type="Number" name="scr" max="4" min="1" width="">

			</td>

		</tr>

		<tr>

			<td>

				Available Screens:

			</td>
			<td>

				<input type="Number" name="ascr" max="4" min="1">

			</td>

		</tr>

		<tr>

			<td>

				Message/Notes:

			</td>

			<td>

				<input type="Text" name="msg">

			</td>

		</tr>

	</table>

	<p align="Center"><input type="submit" name = "Register"value="Regester Me!"></p>

</form>